.nav-link {
  color: white;
}


 .nav-link:hover{
  color:red;
  border-bottom: 2px solid red;
}
.navbar-brand {
  color:red;
}
.navbar-nav .nav-item .nav-link.active  {
  color:red; 
}

.navbar-nav{
  margin-left: auto;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-brand {
    text-align: center;
  }
}

.navbar-toggler {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
.navbar-toggler {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.adr {
  color: red;
 
}
/* __________________________________ */
/* ProductList.css */


.card{
  height:430px;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin:4px;
}

.card-img-top{
  height:230px;
}
.pro{
  height:190px;
  background-color: black;
  color:white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  
}
.pro:hover{
  background-color:white;
  color: black;
}

.card:hover {
  transform: translateY(-8px);
}

.card-text{
  color:red;
  
}
.categ{
  background-color:black !important;
  color: white !important;;
  border-radius:10px;
}
.categ:hover{
  background-color:#fff!important ;
  color:red !important;
  border-color:red;
}


/* _________________________ */
.cart{
  background-color:white;
  
}


.glitch-wrapper {
 
  margin-top:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.glitch {
  position: relative;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color:red;
  z-index: -1;
}
.hom{
  border-radius:5px;
}


@keyframes glitch-color {
  0% {
     transform: translate(0);
  }

  20% {
     transform: translate(-3px, 3px);
  }

  40% {
     transform: translate(-3px, -3px);
  }

  60% {
     transform: translate(3px, 3px);
  }

  80% {
     transform: translate(3px, -3px);
  }

  to {
     transform: translate(0);
  }
}

.btn-lg{
  background-color: #fff;
  color:red;
  border-color:red !important;
}

.btn-lg:hover{
  background-color:red ;
  color:white;
}
/* ____________________________ */
/* about.css */

.about-container {
  text-align: center;
  padding: 20px;
  margin-top:150px;
}

.about-header {
  font-size: 28px;
  color: #333; 
  margin-bottom: 10px;
}

.about-text {
  font-size: 16px;
  color: #666; 
  margin-bottom: 20px;
}
.eng{
  color:red;
}



/* ------------------------------------------ */
